<footer>
    <div class="page-wrap">
        <nav>
            <a href="{{site.baseurl}}/pricing?b=footer">Pricing</a>
            <a href="{{site.baseurl}}/contact-sales?b=footer">Contact sales</a>
            <a href="http://help.dwolla.com/">Support</a>
            <a href="{{site.baseurl}}/security">Security</a>
            <a href="http://blog.dwolla.com/">Blog</a>
            <a href="http://press.dwolla.com/">Press</a>
            <a href="{{site.baseurl}}/careers">Careers</a>
        </nav>
        <nav class="disclaimer">
            <span>&copy; {{ 'now' | date: "%Y" }} Dwolla, Inc.</span>
            <a href="{{site.baseurl}}/legal/privacy/">Privacy</a>
            <a href="{{site.baseurl}}/legal/tos/">Legal</a>
            <a href="{{site.baseurl}}/legal/about-our-financial-institution-partner/">Dwolla, Inc. is an agent of its Financial Institution Partner(s)</a>
        </nav>
    </div>
</footer>
<script type="text/javascript" src="{{site.baseurl}}/public/js/marketing.js"></script>