<head>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <link rel="canonical" href="{{site.baseurl}}{{page.url}}">
    <link rel="icon" href="{{site.baseurl}}/public/images/icons/favicon.png" type="image/x-icon">
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.baseurl}}/public/images/icons/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.baseurl}}/public/images/icons/apple-touch-icon-114x114-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.baseurl}}/public/images/icons/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/public/images/icons/apple-touch-icon-precomposed.png">
    <!-- For sharing this page on Facebook -->
    <link rel="image_src" type="image/jpeg" href="{{site.baseurl}}/public/images/icons/facebook.jpg">

    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:300|Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{site.baseurl}}/public/css/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/public/icons/base/icons.data.svg.css">
    <link rel="stylesheet" href="{{site.baseurl}}/public/icons/marketing/icons.data.svg.css">
    {% if page.stylesheets %}
        {% for stylesheet in page.stylesheets %}
            <link rel="stylesheet" href="{{site.baseurl}}{{ stylesheet }}">
        {% endfor %}
    {% endif %}
</head>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K7TKTN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
        {'gtm.start': new Date().getTime(),event:'gtm.js'}
        );var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K7TKTN'
    );
</script>