<header>
    <div class="header__primary page-wrap">
        <div>
            <a href="{{site.baseurl}}/" class="logo icon-logo-dwolla-white">Dwolla</a>
            <a class="hamburger js-hamburger">Menu</a>
        </div>
        <nav class="js-hamburger-nav">
            <a href="{{site.baseurl}}/about">Product</a>
            <a href="https://developers.dwolla.com/">API</a>
            <a href="{{site.baseurl}}/contact?b=nav">Contact sales</a>
            <a href="{{site.baseurl}}/login">Log in</a>
            <a class="btn primary" href="{{site.baseurl}}/register">Sign up</a>
        </nav>
    </div>
</header>