//$imagePath: "/cmscontent/images/";

//gradient colors
//$color-blue-purple: #7a67a5;
//$color-purple: #c86891;

$color-med-dark-background: #28323e;
$color-dark-background: #212a35;

//responsive sizes
$SIZE_CAROUSEL-NAV-PRE-TABLET-1: 1090px;
$SIZE_CAROUSEL-NAV-PRE-TABLET-2: 900px;
$SIZE_CAROUSEL-SLIDE-PRE-TABLET: 1190px;
//$SIZE_PRICING-TIERS-PRE-TABLET: 900px;